/* Class from index*/
:root {
    --color-main: #7f6c2f;
}

.header {
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header__overlay {
    height: 100%;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}
.header__item-conteiner {
    z-index: 2;
    position: relative;
    margin: auto;
    max-width: 900px;
}
.hero__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    transition: font-size 2s;
}
.hero__button {
    color: #FFF;
    background-color: var(--color-main);
    font-weight: bold;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 90px;
    transition-property: background-color;
    transition-duration: 0.5s;
    position: absolute;
}
.hero__button:hover {
    background-color: #000;
}
.hero__icon {
    height: 15px;
}
.shedule-location {
    color: #FFF;
    background-color: #000;
    padding: 50px;
}
.shedule-location__conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.shedule-location__title {
    text-align: center;
    font-size: 2em;
    margin: 20px;
}
.location{
    margin: 20px;
}
.shedule__div {
    margin-top: 20px;
    background-color: #7b7877;
    display: inline;
    height: 220px;
    min-width: 1.5px;
    border-radius: 10%;
    margin-left: 30px;
}
.location__map {
    min-width: 300px;
    height: 200px;
}
.client-testimonials {
    display: flex;
    margin: 20px;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.div__title {
    width: 100%;
}
.client-testimonials__title {
    font-size: 2em;
}
.client-testimonials__conteiner {
    max-width: 250px;
    border: 1px solid #0005;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 9px 0 #0008;
    transition: box-shadow 0.3s;
}
.client-testimonials__conteiner:hover {
    box-shadow: 0 5px 9px 0 #CDB156;
}
.client-testimonials__paragraph {
    text-wrap: pretty;
}
.service__conteiner{
    display: flex;
    flex-direction: column; 
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    background-image:url(/img/bg/bg1.webp) ;
    background-position-x: center;
    
}
.section__service {
    margin-top: 200px;
}
.service__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
}
.service__paragraph {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
    background-color: var(--color-main);
    border-radius: 20px;
    max-width: 40%;
    box-shadow: 2px 2px 10px 2px #000;
    transition: color 0.5s;
}
.service__paragraph:hover {
    color: #fffc33;
}
@media screen and (max-width:600px) {
	.hero__title {
		font-size: 25px;
        display: inline;
	}
    .hero__button {
        font-size: 14px;
        padding: 10px 25px 10px 15px;
        align-items: center;
        max-width: 60px;
        transition-property: background-color;
        transition-duration: 0.5s;
        margin-left: 50px;
    }
    .header {
        height: 350px;
        margin: 10px;
        text-align: center;
    }
    .shedule__div {
        display: none;
    }
}